:root {
  --preto: #2E2E2E;
  --marrom-claro: #BFAB93;
  --Creme: #FFF3D0;
  --Rosa: #E999BF; 
  --Rosa-escuro: #B3146D; 
  --Rosa-claro: #FDBFD4; 
  --Azul-bebê: #D2DAF3;
  --Roxo: #A395D9; 
  --Azul: #AEB4E9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--Azul-bebê);
  color: var(--Roxo);

}

/* BOTÃO MOBILE */
.menu-toggle {
  position: fixed;
  z-index: 1001;
  background: var(--Rosa-escuro);
  color: var(--Roxo);
  border: none;
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: var(--Rosa-escuro);
  color: var(--Roxo);
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 100px;
}

.logo {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar ul li:hover {
  background: #7345D6;
}

.sidebar ul li i {
  font-size: 20px;
  min-width: 30px;
}

.sidebar ul li span {
  margin-left: 10px;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.sidebar.collapsed ul li span {
  opacity: 0;
  pointer-events: none;
}

/* TOOLTIP AO PASSAR O MOUSE */
.sidebar.collapsed ul li {
  position: relative;
}

.sidebar.collapsed ul li:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 75px;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 30px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    left: -220px;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }
}










/* FINANCEIRO */

.finance-container {
  padding: 20px;
}

.total-box {
  background: var(--Rosa-escuro);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 0 var(--Azul);
}

.total-box span {
  font-size: 28px;
  font-weight: bold;
}

.finance-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.finance-card {
  flex: 1;
  min-width: 280px;
  background: var(--Rosa);
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px var(--Azul);
}

.finance-card h3 {
  margin-top: 0;
}

.fixed-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.inputfinance {
  box-sizing: border-box;
  margin: 5px;
  max-width: 100%;
  font-size: 14px;
}

.finance-container button {
  font-size: 14px;
}

#expenseList ul {
  max-height: 180px;
  overflow-y: auto;
}





/* CALENDARIO */


.calendar-container,
.day-panel {
  max-width: 520px;
  margin: auto;
  background: var(--Rosa-claro);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 6px 6px 0 var(--preto);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--Creme);
}

.calendar-header h2 {
  color: var(--preto);
}

.calendar-header button {
  background: var(--Creme);
  color: var(--Roxo);
  border: 2px solid var(--preto);
  padding: 6px 12px;
  cursor: pointer;
}

.arrow:hover{
  background-color: var(--Azul);
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 10px;
}

.calendar-weekdays div {
  font-weight: bold;
}

.calendar-days div {
  padding: 10px;
  margin: 3px;
  border: 1px solid var(--preto);
  cursor: pointer;
  background: #fff;
}

.calendar-days div.has-event {
  background: var(--Rosa-escuro);
  color: white;
}

.calendar-days div:hover {
  background-color: var(--Rosa-claro);
  color: white;
}

/* LISTA DIÁRIA */
.scheduling {
  width: 40%;
  border: none;
  border-radius: 20px;
  background-color: var(--roxo);
  color: var(--Rosa);;
}

.scheduling:hover {
  background-color: var(--roxo-escuro);
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}

.day-panel {
  margin-top: 20px;
  background-color: var(--Creme);
  color: var(--Rosa);
}

.day-panel button {
  background: var(--Creme);
  color: white;
  border: 2px solid var(--preto);
  padding: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.day-panel ul {
  list-style: none;
  padding: 0;
}

.day-panel li {
  padding: 8px;
  border-bottom: 1px solid var(--preto);
  cursor: pointer;
}

.day-panel li:hover {
  background: var(--roxo);
  color: white;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: var(--marrom-claro);
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 6px 6px 0 var(--preto);
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--preto);
}

.modal-actions {
  display: flex;
  gap: 6px;
}

.modal-actions button {
  width: 100%;
  flex: 1;
  padding: 8px;
  border: 2px solid var(--preto);
  cursor: pointer;
}

.danger-agenda {
  background: #8b0000;
  color: white;
}

.danger-agenda:hover {
  background-color: #740000;
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}

.save-agenda {
  background-color: greenyellow;
  color: white;
}

.save-agenda:hover {
  background-color: green;
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}

.cancel-agenda {
  background: orange;
  color: white;
}

.cancel-agenda:hover {
  background-color: orangered;
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}








/* FUNCIONÁRIOS */

.summary {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.summary div {
  background: white;
  padding: 10px;
  border: 2px solid var(--preto);
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--preto);
  padding: 8px;
  text-align: center;
}

th {
  border: none;
  background: var(--Rosa-escuro);
  color: white;
}

.actions button {
  margin: 0 3px;
}

.newEmploye {
  width: 40%;
  border: outset black;
  border-radius: 100px;
  margin-bottom: 10px;
  background-color: var(--Rosa-claro);
  color: white;
  cursor: pointer;
}

.newEmploye:hover {
  background-color: var(--Rosa-escuro);
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}

/* MODAL */
.modalEmploye {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  display: none;
  align-items: center;
  justify-content: center;
}

.modalEmploye-content {
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 6px 6px 0 var(--preto);

  background-color: var(--marrom-claro);
}

.modalEmploye-content input,
.modalEmploye-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--preto);
}

.modalEmploye-actions {
  display: flex;
  gap: 6px;

}

.modalEmploye-actions button {
  flex: 1;
  padding: 8px;
  border: 2px solid var(--preto);
  cursor: pointer;
}

#employeeTable {
  background-color: var(--Creme);
}

.danger-employe {
  background: #8b0000;
  color: white;
}

.danger-employe:hover {
  background-color: #740000;
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}

.cancel-employe {
  background: orange;
  color: white;
}

.cancel-employe:hover {
  background-color: orangered;
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}

.save-employe {
  background-color: greenyellow;
  color: white;
}

.save-employe:hover {
  background-color: green;
  box-shadow: 4px 4px 0px #2E2E2E;
  transform: translate(-2px, -2px);
}