<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/collaborators/login.css">
  <title>Document</title>
 
</head>

<body>
  <section class="login-container">
    <div style="text-align: center; margin-top: -30px; margin-bottom: 10px;">
    <img src="../img/logo.png" alt="" style="width:230px; height:230px;">
    </div>
    <form action="collaborators/collaborators.html" method="POST">
      <div class="input-group">
        <label for="email">NOME</label>
        <input type="name" id="name" name="name" pattern="[a-zA-Z]*" placeholder="Cristiano Ronaldo" required>
      </div>

      <div class="input-group">
        <label for="password">SENHA</label>
        <input type="password" id="txtpassword" name="password" placeholder="••••••••" required>
      </div>

    <a href="collaborators/collaborators.html"> <button type="submit">ENVIAR</button> </a>
      <div>
      <img src="../img/inkitoacenando.png" alt="" class="inkito">
      </div>
    </form>
  </section>
</body>

</html>